{% extends 'base.html.twig' %}

{% block title %}{{name}}{% endblock %}

{% block body %}

    <div class="container">
        <h2>Formulaire de modification du tips</h2>
        {{ include('tips/_form.html.twig', {'button_label': 'Enregister'}) }}
        {{ include('tips/_delete_form.html.twig') }}
    </div>
{% endblock %}
