{% extends 'base.html.twig' %}

{% block title %}{{name}}{% endblock %}

{% block body %}
{% if app.user.getActivationToken() == null %}
    <div class="container">
        <div class="row no-gutters justify-content-between">
            <h2>Règles pour déposer un tips</h2>
            <p class="col-8">Pour que votre tips soit accepté :</p>
            {% include("main/searchBar.html.twig") %}
            <ul class="col-7 ml-3">
                <li>Vérifiez qu'il n'existe pas déjà grâce au moteur de recherche du site.</li>
                <li>Les tips en langage SMS ou contenant trop de fautes d'orthographe sont refusés.</li>
                <li>Les tips doivent être courts et concis ( pas de tutos )</li>
            </ul>
            <div class="boxform col-lg-7 rounded p-4 mt-5">
                <h3 class="text-center mb-4 text-white" >Création d'un tips</h3>
                {{ include('tips/_form.html.twig') }}
            </div>

            <div class="boxThanks col-12 col-lg-4 mt-5">
                <img class="imgchild rounded  mb-5"src="{{ asset('images/enfant.jpg') }}" alt="Photo d'un petit garçon qui rigole">
                <p>Merci de partager tes Tips en espérant qu'ils aident un maximum de personnes</p>
            </div>
        </div>
    </div>
{% else %}
{% endif %}
{% endblock %}
