

    <h3 class ="text-center mb-5 text-white rounded bg-green col-12 w-100 p-4">Modifier mon mot de passe</h3>
    <div class="container">
        {{ form_start(registrationForm,{"action": path("modifyPassword"), "method": "POST" }) }}
            {{ form_row(registrationForm.plainPassword.first,{ 'label' : 'Nouveau mot de passe'}) }}
            {{ form_row(registrationForm.plainPassword.second) }}

            <button class="btn btn-success my-3">Valider</button>
        {{ form_end(registrationForm) }}
    </div>


