{% extends 'base.html.twig' %}

{% block title %}{{name}}{% endblock %}
{% block body %}
    <div class="container">
        <h2>Formulaire de contact</h2>
        {{ form(contactForm) }}
    </div>
{% endblock %}