{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="box mt-5">
        <img src="" class="img-fluid position-absolute" alt="Responsive image">
        <div class="opaquefilter"></div>
        <h1 class="titleH1 position-absolute">Accueil</h1>
    </div>

{% endblock %}
