{% extends 'base.html.twig' %}

{% block title %}{{name}}{% endblock %}

{% block body %}
    <div style="background-image: url({{ asset('images/pictureHome.jpg') }});" class="box my-5">
        <img src="" class="img-fluid position-absolute" alt="Responsive image">
        <div class="opaquefilter"></div>
        <h1 class="titleH1 position-absolute">{{name}}</h1>
    </div>

{% endblock %}
