{% extends 'base.html.twig' %}

{% block title %}{{name}}{% endblock %}

{% block body %}
    <div class="container">
        <h2>Hébergement</h2>
        <p>Ce site est hébergé par O2switch 222-224 Boulevard Gustave Flaubert 63000 Clermont-Ferrand tel : 04 44 44 60 40 Capital de 100000€
        Siret 510 909 80700024</p>
        <h2>Utilisation des données personnelles</h2>
        <p>Votre e-mail est utilisé pour vous contacter </p>
        <h2>Responsabilité</h2>
        <p>Le contenu des tips est modéré, c'est-à-dire validé par notre équipe avant d'être visible aux internautes.
         Cela ne garantit pas la véracité d'un tips mais uniquement que celui-ci correspond au concept du site et n'est pas un message polluant.</p>

    </div>

{% endblock %}