<form class="col-lg-3 col-4 mb-5 d-flex justify-content-lg-start justify-content-end "action="{{ path('search') }}" method="post">
    <input class="rounded-left bg-grey border-0 " type="text" name='Recherche' required >
    <button class="bg-grey border-0 rounded-right" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>