{% extends 'base.html.twig' %}

{% block title %}{{name}}{% endblock %}

{% block body %}
    <div class="container">
    <h2>Conditions d'utilisation</h2>
        <p>Les présentes Conditions d’Utilisation ont pour objet de définir les règles régissant la relation entre "le site" et ses visiteurs.</p>

        <h3 class="mb-4">Acceptation</h3>
        <p>L’utilisation du site et des services qui y sont proposés suppose l’acceptation pleine et entière par l’utilisateur des présentes Conditions d’Utilisation.</p>

        <h3 class="mb-4">Droits cédés lors de la soumission de Tips</h3>
        <p>En soumettant un ou plusieurs Tips sur le site, vous accordez au "site" de les publier, éditer, modifier, transmettre, reproduire, traduire, et ce sur tous types de support et à titre gratuit.</p>

        <h3 class="mb-4">Fiabilité des informations</h3>
        <p>Le site est un site communautaire, dont les internautes sont les principaux acteurs. Aussi, celui-ci ne peut être tenue responsable de toute information erronée que vous pourriez y trouver.  </p>

        <h3 class="mb-4">Règles à respecter</h3>
        <p>Afin que le site reste convivial, il est interdit de poster tout tips à caractère injurieux, diffamatoire, pornographique, pédophile, portant atteinte à la dignité de l'être humain, incitant à la haine raciale, à la discrimination et plus généralement illicite ou contraire à la nétiquette. Tout manquement à ces règles entrainera un bannissement. De même, il est interdit de poster tout tips portant atteinte aux droits de propriété intellectuelle de tiers.</p>

    </div>

{% endblock %}