@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
:root{
    --color_fonce: #34495E;
    --color_lightgreen : #1ABC9C;
    --color_green : #16A085;
    --color_blue : #3498DB;
    --color_grey : #ecf0f1;
    --color_dar_grey :#bdc3c7;
    --color_red : #E74C3C;
}
*{
    font-family: 'Open Sans', sans-serif;
}
h1{
    
    text-transform : uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
h2{
    
    text-transform : uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color : var(--color_fonce);
    margin: 2em 0;
}
h3{
    font-size: 1.17em;
    color : var(--color_fonce);
}
p{
    color : var(--color_fonce);
}
a{
    color:var(--color_fonce);
}
.btn-primary{
    background-color: var(--color_blue);
}
.btn-secondary{
    background: var(--color_grey);
    color: var(--color_fonce);
    border: none;
}
.btn-success{
    background: var(--color_green);
    border: none;
}
.text-success{
    color: var(--color_lightgreen);
}
.btn-success:hover{
    background: var(--color_green);
    border: none;
}
.fa-search{
    color:var(--color_fonce);
}
.text-dark{
    color:var(--color_fonce);
}
.text-dark-grey{
    color:var(--color_dar_grey);
}
.bg-dark{
    background: var(--color_fonce);
}
.bg-grey{
    background: var(--color_grey);
}

.bg-lightgreen{
    background: var(--color_lightgreen);
}
.bg-green{
    background: var(--color_green);
}
.pagination .active .page-link{
    background: var(--color_blue);
}
.pagination .page-link{
    color :var(--color_blue);
}
/* ===============Navbar=================== */
.navbar{
    padding-left: 0;
    padding-right: 0;
    margin : 1em 0 ;
}
.logo{
    right:50%;
    top:-20px;
    transform: translate(50%, 0);
}
.navbar-nav{
    width: 100%;
}
.navbar-light .navbar-nav .nav-link{
    color:var(--color_fonce);
}
nav a{
    color : var(--color_fonce);
}
nav a:hover{
    color : var(--color_blue);
      
}
@media screen and (max-width: 992px){
    .boxnav{
        flex-direction: column;
    }
}
/* ===============body=================== */

.box{
    height: 300px;
    overflow: hidden;
    position : relative;
    background-size: 100%;
    background-position: center 60%;
    background-repeat: no-repeat;
    
}
.box>img{
    top :-450px;
    min-width: 100%;
}
.opaquefilter{
    background: var(--color_fonce);
    opacity: 0.5;
    height: 100%;
    width: 100%;
}
.Middletitle{
    color : white;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:1;
}
.boxTips img{
    height: 40px;
}
.boxIcon{
    font-size: 1.5em;
}
.boxIcon .fa{
    cursor: pointer;
}
.modal-content img{
    width: 100%;
    height: 100%;
}
.fontBigger{
    font-size: 1.5em;
}

.presentation{
    height: 300px;
    /* background-size: 100%;
    background-position: center 60%;
    background-repeat: no-repeat; */
    background:var(--color_fonce);
}

.ctaRegister{
    font-size: 2em;
}
/* ===============body index Categorie=================== */

.boxImageCategory img{
    width: 100%;
    height: 120px;
    position: relative;
    color:var(--color_fonce);
}
@media screen and (max-width: 992px){
    .boxImageCategory img{
        width: 100%;
        height: 250px;
    }
}

/* ===============body new tips=================== */

.boxform{
    background: var(--color_lightgreen);
    color:white;
}
.imgchild{

    width: 100%;
}

/* ===============body ex : kitchen ( one category )=================== */

.boxCategory{
    height: 100%;
}
.boxCategory li{
    list-style:none;
}



/* ===============Footer=================== */

.footer{
    background-color: var(--color_fonce);
    color:white;
    height: 80px;
}
.footer a{
    color:white;
}
.fa-arrow-circle-up{
    cursor: pointer;
}
