{% extends 'base.html.twig' %}

{% block title %}{{name}}{% endblock %}

{% block body %}
<div class="container">
    <h2>Toutes les catégories</h2>
    <div class="row">
        {% for category in categories %}
            <a class="boxImageCategory col-6 col-lg-2 mb-4" href="{{ path('category_show', {'id': category.id}) }}">
                <h3>{{ category.nameCategory }}</h3>      
                <img class="rounded " src='{{ asset('images/'~category.pictureCategory~'.jpg') }}' alt="Image des catégories">     
            </a>  
        {% endfor %}
    </div>
</div>
{% endblock %}
