<nav class="navbar navbar-expand-lg  py-5">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav justify-content-center footer">    
        <a class="nav-item nav-link mx-3 " href="#">Accueil <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link mx-3" href="#">Mentions légales</a>
        <a class="nav-item nav-link mx-3" href="#">Nous contacter</a>
        <a class="nav-item nav-link mx-3" href="#">Revenir en haut</a>
        <i class="fa fa-arrow-circle-up align-self-center" aria-hidden="true"></i>
    </div>
  </div>
</nav>