
    <div class="footer d-flex justify-content-center align-items-center mt-5">    
        <a class="mx-3" href="{{ path('main') }}">Accueil </a>
        <a class="mx-3" href="#">Mentions légales</a>
        <a class="mx-3" href="#">Nous contacter</a>
        <a class="mx-3 btn_ride_up" href="#">Revenir en haut</a>
        <i class="fa fa-arrow-circle-up align-self-center btn_ride_up" aria-hidden="true"></i>
    </div>
  </div>
</nav>